.author {
  max-width: 100%;
  padding: 0 10px;
  padding-top: 6rem;

  > div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 250px;
      height: auto;
      margin-top: 1rem;
      margin-bottom: 3rem;
      border-radius: 50%;
    }

    p {
       margin-bottom: 1rem;
    }
  }

  div.endline {
    width: 100%;
    border-bottom: solid 2px var(--gray-200);
  }



  @media (min-width: 576px) {
    padding: 0 30px;
    padding-top: 6rem;
  }

  @media (min-width: 768px) {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    padding-top: 3rem;

    > div {
      margin: 3rem 0;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  
      img {
        margin: 0 auto;
      }

      > div {
        width: 34rem;
        margin-left: 30px;
      }
    }
  }

  @media (min-width: 992px) {
    > div {
      img {
        width: 350px;
      }
    }
  }
}
