.landing {
  width: 100%;
  padding: 0 10px;
  background: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img {
      max-width: 263px;
      height: auto;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    div {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        text-align: center;
        font-size: 1.5rem;
        line-height: 130%;
      }
    
      p {
        margin-top: 2rem;
        text-align: center;
        line-height: 150%;
      }
    
      button {
        width: 18rem;
        margin-top: 2rem;
        padding: 1.2rem 0;
        background: var(--yellow);
        border: none;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
        color: var(--white);
      }
    }
  }

  ul {
    margin-bottom: -2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    background: var(--blue);
    list-style: none;
    display: flex;

    li {
      svg {
        font-size: 2rem;
        color: var(--white);
      }

      & + li {
        margin-left: 1rem;
      }
    }
  }

  @media (min-width: 576px) {
    padding: 0 30px;
    
    div {
    
      div {
        margin-bottom: 3rem;
  
        h1 {
          font-size: 2rem;
        }
      
        p {
          font-size: 1.125rem;
          text-align: justify;
        }
      }
    }
    

    ul {
      margin-bottom: -2rem;
      padding: 1rem 3.5rem;
      border-radius: 10px;
      background: var(--blue);
      list-style: none;
      display: flex;
  
      li {
        svg {
          font-size: 3rem;
          color: var(--white);
        }
  
        & + li {
          margin-left: 3rem;
        }
      }
    }
  }

  @media (min-width: 768px) {

    div {  
      width: 100%; 
      display: flex;
      flex-direction: row-reverse;
      align-items: initial;
      justify-content: space-between;

      img {
        margin: 0 auto;
      }
      
      div {
        max-width: 32rem;
        margin-top: 3rem;

        h1 {
          text-align: initial;
        }
      
        p {
          font-size: 1.125rem;
          text-align: justify;
        }
      }
    }
  }

  @media (min-width: 992px) {
    height: calc(100vh - 120px);
    justify-content: center;

    div  {
      margin-bottom: 1.8rem;
      img {
        max-width: 400px;
        height: auto;
      }

      div {
        
        h1 {
          font-size: 3rem;
          text-align: initial;
        }
      }
    }

    ul {
      height: 80px;
      position: absolute;
      top: calc(100vh - 80px);
      right: auto;
      left: auto;
    }

  }
}