.team {
   padding: 0 10px;

  > p {
    display: block;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 8rem;
    text-align: center;
  }

  div.cards {

    article {
      max-width: 370px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 10px;
      background: var(--gray);
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        margin-top: -80px;
        margin-bottom: 1rem;
        border-radius: 50%;
      }
  
      h4 {
        margin-top: 1rem;
        color: var(--gray-600);
        text-align: center;
        font-size: 1.125rem;
      }
  
      h5 {
        margin-top: 0.3rem;
        color: var(--gray-500);
        text-align: center;
        font-size: 1rem;
      }
  
      > p {
        margin-top: 0.5rem;
        color: var(--gray-500);
        text-align: justify;
        line-height: 150%;
      }

      & + article {
        margin-top: 8rem;
      }
    }

  }

  @media (min-width: 576px) {
    padding: 0 30px;
  }

  @media (min-width: 992px) {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

    div.cards {
      margin-bottom: 0;
      display: flex;

      article {

        & + article {
          margin-top: initial;
          margin-left: 1rem;
        }
      }

    }
  }

}