* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray: #F1F2F6;
  --blue: #3699FF;
  --yellow: #FFCC00;

  --gray-200: #c4c4c4;
  --gray-300: #a8a8a8;
  --gray-500: #737373;
  --gray-600: #515151;
  --gray-700: #333333;

  --blue-100: #EBF5FF;
  --blue-200: #91ACC7;
  --blue-900: #23598F;
  
  --red-100: #FFF6F6;
  --red-600: #E25361;
  --red-700: #DC3545;
  
  --green-100: #53AE68;
  --green-700: #DFF4E4;
}

html {
  font-size: 75%;
}

@media (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}

body {
  background: url(../assets/background.svg) no-repeat center top 735px;
  color: var(--gray-700);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, select, button {
  font: 400 1rem 'Nunito', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: var(--gray-700);
  text-decoration: none;
}

@import './header';
@import './landing';
@import './author';
@import './about';
@import './team';
@import './footer';
@import './downloadLanding';
@import './notFound';
@import './contribute';

// Classes

div.highlight {
  width: 100%;
  height: 8rem;
  background: url(../assets/highlight.svg) no-repeat center / contain;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2.25rem;
    font-weight: 700;
  }
}

div.quote {
  margin-left: 15%;
  margin-bottom: 3rem;
  padding-left: 1rem;
  border-left: solid 5px var(--gray-200);
  color: var(--gray-500);
  font-style: italic;

  p {
    padding: 1rem 0;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {

  div.quote {
    margin-left: 30%;
  }
}